:root {
    --font: 'Roboto';
    --white: #fff;
    --yellow: #f5b943;
    --red: #F54343;
    --gray: #222;
    --dark-gray: #171717;
    --black: #000;
    --transition: 0.3s;
    --max-width: 1440px;
}
@media screen and (max-width: 1440px) {
    :root {
        --max-width: 768px;
    }
}
@media screen and (max-width: 768px) {
    :root {
        --max-width: 320px;
    }
}